@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

/* Start https://www.cursors-4u.com */

* {
    cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
    ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --second-bgcolor: #323946;
    --text-color: black;
    --main-color: lime;
}

html {
    font-size: 100%;
    overflow: hidden;
}

body {
    background: #1f242d;
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 900;
    cursor: default;
    transition: .9s;
}

.navbar a {
    font-size: 1.9rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.9s;
}

.navbar a:hover {
    color: var(--main-color);
}


/* End https://www.cursors-4u.com */